<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913512622494-fvegnq8scetbopghpsmjguhpgijako5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913512622494-fvegnq8scetbopghpsmjguhpgijako5v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>913512622494-hpq1v2o5gl7esqj6ph3072ghkrddc2rh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSj7_qhRsMsTX0jRMcBv1kp58iVmBE9Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>913512622494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.quizapp2</string>
	<key>PROJECT_ID</key>
	<string>quizapp1-a211d</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp1-a211d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913512622494:ios:d0159483c7a46d84e48e8f</string>
</dict>
</plist>